<ion-split-pane when="(min-width: 1500px)" contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content class="ion-padding" style="--background: #bd0038">
      <ion-list-header style="color: #fff">Búscame</ion-list-header>
      <ion-note style="color: #fff">Me complace poder ayudarte</ion-note>
      <ion-menu-toggle
        *ngFor="let p of appPages; let i = index"
        auto-hide="false"
      >
        <ion-item
          routerDirection="root"
          [routerLink]="[p.url]"
          lines="none"
          detail="false"
          routerLinkActive="selected"
          style="--background: #bd0038"
          ><ion-icon
            slot="start"
            [ios]="p.icon + '-outline'"
            [md]="p.icon + '-sharp'"
            style="color: #fff"
          ></ion-icon>
          <ion-label style="color: #fff">{{ p.title }}</ion-label></ion-item
        >
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <app-toolbar></app-toolbar>
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
    <!-- boton flotante para mobile -->
    <ion-fab *ngIf="isMobile" vertical="bottom" horizontal="end">
      <ion-fab-button [routerLink]="['/emergencia']">
        <ion-icon name="alert-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <!-- boton flotante para pc -->
    <ion-fab
      *ngIf="!isMobile"
      vertical="bottom"
      horizontal="end"
      style="right: 20px"
    >
      <ion-fab-button [routerLink]="['/emergencia']">
        <ion-icon name="alert-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-split-pane>
