<ion-content [fullscreen]="true" class="main-screen">
  <div class="welcome-banner">
    <div class="welcome-banner__content">
      <h1 class="welcome-banner__title">Ahora estás segura</h1>
      <div class="button-save-content">
        <ion-button id="button-save" [routerLink]="['/contacto']">Quiero estar a salvo</ion-button>
      </div>
    </div>
  </div>
  <div class="screen-two">
    <div class="welcome-banner">
      <div class="welcome-banner__content">
        <h1 class="welcome-banner__title">Bienvenida a Búscame</h1>
        <!--decripcion -->
        <p class="welcome-banner__description">
          El sitio donde siempre habrá alguien que te escuchará y estarás segura
          en todo momento
        </p>
      </div>
      <ion-slides pager class="custom-slider custom-pager">
        <ion-slide>
          <ion-card>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/buscame-58de2.appspot.com/o/Slide%202.png?alt=media&token=d2896ff4-8987-40ce-92ee-b16237558f06"
              alt="RedFlag 1"
              class="img-slide"
            />
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/buscame-58de2.appspot.com/o/Slide%204.png?alt=media&token=945d0832-4ea6-4930-8556-95a2baaf4085"
              alt="RedFlag 2"
              class="img-slide"
            />
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/buscame-58de2.appspot.com/o/Slide%205.png?alt=media&token=cf72f489-f2f9-4fac-9a7b-9902d9c8145b"
              alt="RedFlag 3"
              class="img-slide"
            />
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/buscame-58de2.appspot.com/o/Slide%206.png?alt=media&token=b98ef39d-e260-4bc3-b8fb-b45cf361e526"
              alt="RedFlag 4"
              class="img-slide"
            />
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/buscame-58de2.appspot.com/o/Slide%207.png?alt=media&token=44cdabd4-ae7f-4804-8041-b23091bbc2fc"
              alt="RedFlag 5"
              class="img-slide"
            />
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/buscame-58de2.appspot.com/o/Slide%208.png?alt=media&token=d13278d8-b84f-40ca-baea-1da4f3120641"
              alt="RedFlag 6"
              class="img-slide"
            />
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/buscame-58de2.appspot.com/o/Slide%209.png?alt=media&token=0b1477ea-4937-448d-b5c5-2cff20f3cdbf"
              alt="RedFlag 7"
              class="img-slide"
            />
          </ion-card>
        </ion-slide>
        <!-- Agrega más slides según sea necesario -->
      </ion-slides>
    </div>
  </div>
</ion-content>
