<ion-content [fullscreen]="true">
  <div class="welcome-banner">
    <div class="welcome-banner__content">
      <h1 class="welcome-banner__title">Ahora estás segura</h1>
      <div class="button-save-content">
        <ion-button id="button-save">Quiero estar a salvo</ion-button>
      </div>
    </div>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Información Adicional</ion-card-subtitle>
      <ion-card-title>Más detalles</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo risus
      eget dolor euismod, a dictum urna bibendum.
    </ion-card-content>
  </ion-card>
</ion-content>
