<ion-content>
  <div class="screen-contact">
    <div class="contact-banner">
      <div class="contact-banner__content">
        <h1 class="contact-banner__title">Estamos para ayudarte</h1>
        <!--decripcion -->
        <p class="contact-banner__description">
          Tenemos tres opciones por las que podemos charlar. Dale sin dudas a
          cualquiera y nos pondremos en contacto de una.
        </p>
      </div>
    </div>
    <div class="card-auxiliares">
      <ion-slides [options]="slideOptsThumbs">
        <ion-slide>
          <ion-card style="color: #dae2ff">
            <div class="card-text">
              <div class="title">
                <ion-icon
                  name="location-outline"
                  id="location-outline"
                ></ion-icon>
              </div>
              <br />
              <div class="subtitle">Encuéntranos</div>
              <br />
              <div class="description">Estamos ubicados en:</div>
              <br />
              <div class="address">Carrera 37 #51 - 52</div>
              <br />
              <div class="address-description">
                Cabecera, Bucaramanga, Santander
              </div>
              <br />
              <div style="width: 55%">
                <ion-button
                  style="--background: #1d4390; margin: 0"
                  href="geo:7.14084,-73.11944?q=universidad industrial de santander"
                  ><ion-icon slot="start" name="walk-outline"></ion-icon> Como
                  llegar</ion-button
                >
              </div>
            </div>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/buscame-58de2.appspot.com/o/card1%20emergencia.png?alt=media&token=3773be03-7950-4a43-bfba-3d60d0f09240"
              class="card-image"
            />
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card style="color: #ffdadb">
            <div class="card-text">
              <div class="title">
                <ion-icon name="call-sharp" id="call-sharp"></ion-icon>
              </div>
              <br />
              <div class="subtitle" style="color: #40000d">Llámanos</div>
              <br />
              <div class="description" style="color: #40000d">
                Estamos disponibles para ti
              </div>
              <br />
              <div class="phone-number" style="color: #40000d">
                (607) 691 09 - 80
              </div>
              <br />
              <div class="description" style="color: #40000d">
                O puedes presionar el botón debajo para ir directamente a la
                llamada
              </div>
              <br />
              <ion-button
                style="--background: #92002a; width: 60%"
                [routerLink]="['/contacto']"
                ><ion-icon name="call-sharp" id="call-sharp"></ion-icon>Llamar
                ahora</ion-button
              >
            </div>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/buscame-58de2.appspot.com/o/card2%20emergencia.png?alt=media&token=81fc68c4-0de2-4140-b187-65106542f9b9"
              style="
                position: absolute;
                bottom: -10px;
                right: -25px;
                filter: opacity(0.5) drop-shadow(0 0 0 #001847);
              "
            />
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card style="color: #dae2ff">
            <div class="card-text">
              <div class="title">
                <ion-icon name="call-sharp" style="color: #001847"></ion-icon>
                <ion-icon
                  name="arrow-back-sharp"
                  style="color: #001847"
                ></ion-icon>
              </div>
              <br />
              <div class="subtitle" style="color: #001847">Te llamamos</div>
              <br />
              <div class="description">
                Déjanos tu número, te llamaremos de una
              </div>
              <br />
              <ion-card-header style="border: #001847">
                <div class="phone-number" style="color: #001847">
                  Número de celular
                </div>
              </ion-card-header>
              <br />
              <ion-button
                style="--background: #1d4390; width: 60%"
                (click)="scrollToCard()"
                ><ion-icon name="call-sharp" style="color: #001847"></ion-icon
                ><ion-icon name="add-sharp"></ion-icon>Agendar
                llamada</ion-button
              >
            </div>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/buscame-58de2.appspot.com/o/card2%20emergencia.png?alt=media&token=81fc68c4-0de2-4140-b187-65106542f9b9"
              style="position: absolute; bottom: 0; right: -5px"
            />
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="screen-two">
    <ion-icon name="help-buoy-outline" id="logo" size="large"></ion-icon>
    <div class="store-banner">
      <div class="store-banner__content">
        <h1 class="store-banner__title">
          También puedes dirigirte a una de las tiendas de nuestra red de apoyo
        </h1>
        <p class="store-banner__description">
          Escoge uno de los establecimientos aliados que esté más cerca de ti,
          allí te brindarán todo el apoyo necesario
        </p>
      </div>
    </div>
  </div>
  </div>
</ion-content>

<!--<ion-content class="screen-contact">
  <div class="contact-banner">
    <div class="contact-banner__content">
      <h1 class="contact-banner__title">Estamos para ayudarte</h1>
      decripcion
      <p class="contact-banner__description">
        Tenemos tres opciones por las que podemos charlar. Dale sin dudas a
        cualquiera y nos pondremos en contacto de una.
      </p>
    </div>
  </div>
   Nuevo
  <div class="card-auxiliares">
    <ion-slides [options]="slideOptsThumbs">
      <ion-slide>
        <ion-card>
          <div class="card-text">
            <ion-icon name="location-outline" id="location-outline"></ion-icon>
            <br />
            <div class="subtitle">Encuéntranos</div>
            <br />
            <div class="subtitle-description">Estamos ubicados en:</div>
            <br />
            <div class="address">Carrera 37 #51 - 52</div>
            <br />
            <div class="address-description">Cabecera, Bucaramanga, Santander</div>
            <br />
            <div style=" --background: #DAE2FF; width: 55%">
              <ion-button
                style="--background: #1D4390; margin: 0"
                href="geo:7.14084,-73.11944?q=universidad industrial de santander"
                ><ion-icon slot="start" name="walk-outline"></ion-icon> Como
                llegar</ion-button
              >
            </div>
          </div>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/buscame-58de2.appspot.com/o/card1%20emergencia.png?alt=media&token=3773be03-7950-4a43-bfba-3d60d0f09240"
            class="card-image"
          />
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <div class="card-text">
            <div class="title">
              <span
                class="material-icons"
                style="color: #395ba9; font-size: 27px"
                >support_agent</span
              >
            </div>
            <br />
            <div class="subtitle" style="color: #395ba9">
              Te llamamos
            </div>
            <br />
            <div class="description" style="color: #001847">
              Agenda una llamada y te llamamos de una. También puedes llamarnos,
              estamos disponibles para ti 24/7.
            </div>
            <br />
            <ion-button
              style="--background: #92002a; width: 60%"
              [routerLink]="['/contacto']"
              ><ion-icon slot="start" name="call-outline"></ion-icon
              >Llamar ahora</ion-button
            >
          </div>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/buscame-58de2.appspot.com/o/card2%20emergencia.png?alt=media&token=81fc68c4-0de2-4140-b187-65106542f9b9"
            style="
              position: absolute;
              bottom: -10px;
              right: -25px;
              filter: opacity(0.5) drop-shadow(0 0 0 #001847);
            "
          />
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <div class="card-text">
            <div class="title">
              <ion-icon
                slot="start"
                name="bookmark-outline"
                style="color: #92002a; font-size: 27px"
              ></ion-icon>
            </div>
            <br />
            <div class="subtitle" style="color: #92002a">
              Obten más información
            </div>
            <br />
            <div class="description">
              Te brindamos más información sobre tipos de violencia
            </div>
            <br />
            <ion-button
              style="--background: #92002a; width: 60%"
              (click)="scrollToCard()"
              ><ion-icon slot="start" name="book-outline"></ion-icon>Leer
              más</ion-button
            >
          </div>
          <img
            src="https://firebasestorage.googleapis.com/v0/b/buscame-58de2.appspot.com/o/card2%20emergencia.png?alt=media&token=81fc68c4-0de2-4140-b187-65106542f9b9"
            style="position: absolute; bottom: 0; right: -5px"
          />
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
    <ion-icon name="help-buoy-outline" id="logo" size="large"></ion-icon>
    <div class="store-banner">
      <div class="store-banner__content">
        <h1 class="store-banner__title">
          También puedes dirigirte a una de las tiendas de nuestra red de apoyo
        </h1>
        decripcion
        <p class="store-banner__description">
          Escoge uno de los establecimientos aliados que esté más cerca de ti,
          allí te brindarán todo el apoyo necesario
        </p>
      </div>
    </div>
</ion-content-->
